body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: #7c776a;
}


/* Navbar style*/

.nav {
    display: grid;
    justify-content: center;
    height: 52px;
    width: 100%;
    background-color: #8c8890;
    position: fixed;
    padding: 0px 20px;
    font-family: cursive;
}

.nav>.nav-btn {
    display: none;
}

.nav>.nav-links {
    display: inline;
    float: right;
    font-size: 18px;
}

.nav>.nav-links>a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: #565250;
    font-weight: bold;
}

.nav>.nav-links>a:hover {
    border-bottom: 2px solid #565250;
    color: #786e69;
}

.nav>#nav-check {
    display: none;
}

@media (max-width:600px) {
    .nav>.nav-btn {
        display: inline-block;
        position: absolute;
        right: 10px;
        top: 0px;
    }
    .nav>.nav-btn>label {
        display: inline-block;
        width: 50px;
        height: 50px;
        padding: 13px;
    }
    .nav>.nav-btn>label>span {
        display: block;
        width: 25px;
        height: 10px;
        border-top: 2px solid #565250;
        cursor: pointer;
    }
    .nav>.nav-links {
        position: absolute;
        display: block;
        width: 100%;
        background-color: #8c8890;
        transition: all 0.3s ease-in;
        overflow-y: hidden;
        top: 50px;
        left: 0px;
    }
    .nav>.nav-links>a {
        display: grid;
        justify-content: center;
        align-items: center;
    }
    .nav>#nav-check:not(:checked)~.nav-links {
        height: 0px;
    }
    .nav>#nav-check:checked~.nav-links {
        height: 30vh;
    }
}